#mcj {
  background-image: url(../images/csm_mekanisk_e80cb2cb12.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}

#mch
{
    font-size: 50px;
    color: lightyellow;
    font-weight: 1000;
}

#mcb
{
    margin-right: 30px;
    background-color: #0abab5;
    border-style: none;
    color: white;
}

table,.mcth,td
{
    border: 2px solid black;
    border-collapse: collapse;
}

.mcth,td
{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 3px;
    background-color: white;
   
}
.mcth
{
    background-color: #0abab5;
    color: white;
}

.link
{
    padding: 5px;
}

#mcl
{
    margin-top: 40px;
    margin-right: 275px;
    background-color: darkred;
    border-style: none;
    width: 120px;
    color: white;
   
}
#mcld
{
    text-align: right;
}