#uccf
{
    
    display: inline-block;
    width: 400px;
    padding: 30px;
    background-color: #ee7600;
    border-radius: 40px;
}

#uccfd
{
    margin-top: 30px;
    margin-bottom: 30px;
   
    text-align: center;
    
}

label 
{ 
    float: left;
    font-weight: bolder;
}

input
{
margin-bottom: 20px;
}

#uccfh
{
    color: black;
    font-weight: bolder;
}
#uccl
{
   margin-top: 15px;
    margin-left: 5px;
    background-color: darkred;
    border-style: none;
}