#ucf
{
    
    display: inline-block;
    width: 500px;
    padding: 30px;
    background-color: #dc911e;
}

#ucd
{
    margin-top: 30px;
    margin-bottom: 30px;
   
    text-align: center;
    
}

label 
{ 
    float: left;
    font-weight: bolder;
}

input
{
margin-bottom: 20px;
}

#uch
{
    color: black;
    font-weight: bolder;
}
#ucl
{
   margin-top: 15px;
    margin-left: 5px;
    background-color: darkred;
    border-style: none;
}