#ulcf
{
    
    display: inline-block;
    width: 400px;
    padding: 30px;
    background-color: #c80815;
    border-radius: 40px;
}

#ulcfd
{
    margin-top: 30px;
    margin-bottom: 30px;
   
    text-align: center;
    
}

label 
{ 
    float: left;
    font-weight: bolder;
    color: white;
}

input
{
margin-bottom: 20px;
}

#ulcfh
{
    color: black;
    font-weight: bolder;
}
#ulcl
{
   margin-top: 15px;
    margin-left: 5px;
    background-color: darkred;
    border-style: none;
}