.wrapper{
               
            width: 500px;
            margin: 0 auto;
            margin-top: 50px; 
        }
.vphr
{
      border-top: 3px double #8c8b8b; 
}

#vpl
{
    background-color: darkred;
    border-style: none;
    width: 100px;
    color: white;
    font-size: 16px;
}

.vplabel
{
    color: black;
}